<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Settings - Discord Theme</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="{{url_for('static', filename='style/bot_settings_style.css')}}" rel="stylesheet">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <div class="nav-item active">Applications</div>
            <div class="nav-item">Teams</div>
            <div class="nav-item">Server Insights</div>
            <div class="nav-item">Embed Debugger</div>
            <div class="nav-item">Documentation</div>
        </nav>
        <main class="content">
            <header>
                <h1>Bot Settings</h1>
                <div class="header-actions">
                    <a href="/" class="btn btn-secondary">Back</a>
                    <a href="/bot_logs/{{ bot.bot_name }}" class="btn btn-primary">Logs <i class="ri-file-text-line"></i></a>
                </div>
            </header>
            <div class="bot-info">
                <img src="{{ url_for('static', filename=bot.image_path) }}" alt="{{ bot.bot_name }} Image" class="bot-image">
                <input type="text" class="bot-name-input" value="{{ bot.bot_name }}" readonly>
            </div>
            <div class="settings-container">
                <h2>Properties</h2>
                <ul class="properties-list">
                    {% for prop_name, prop_value in props.items() %}
                        <li class="property-item">
                            <span>{{ transform_snake_case_to_title(prop_name) }}:</span>
                            <input type="text" class="property-input" value="{{ prop_value }}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <footer>
                <div class="status-container">
                    {% if bot.is_alive() %}
                        <span class="status-text">Status: Running</span>
                        <a href="{{ url_for('stop_bot', bot_name=bot.bot_name) }}" class="toggle-status-btn">
                            <i class="ri-stop-circle-fill" style="color: red;"></i>
                        </a>
                    {% else %}
                        <span class="status-text">Status: Stopped</span>
                        <a href="{{ url_for('start_bot', bot_name=bot.bot_name) }}" class="toggle-status-btn">
                            <i class="ri-play-circle-fill" style="color: greenyellow;"></i>
                        </a>
                    {% endif %}
                </div>
                <span class="runtime">Running for: Nah</span>
                <button class="btn btn-primary save-btn" onclick="sendData()">Save Changes</button>
            </footer>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/bot_settings.min.js') }}"></script>
</body>
</html>
